## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,59.11,79,20,8.05,few clouds
1,1,Kaili,ID,-3.4626,120.2147,68.41,87,100,3.20,moderate rain
2,2,Punta Arenas,CL,-53.1500,-70.9167,42.91,87,75,6.91,broken clouds
3,3,Norrtalje,SE,59.7580,18.7050,39.02,79,0,8.08,clear sky
4,4,Sitka,US,57.0531,-135.3300,48.09,76,100,0.00,light rain

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kaili,ID,-3.4626,120.2147,68.41,87,100,3.20,moderate rain
5,5,Avarua,CK,-21.2078,-159.7750,82.45,83,40,5.75,scattered clouds
6,6,Hilo,US,19.7297,-155.0900,80.28,75,100,9.22,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,75.36,88,75,0.00,broken clouds
11,11,Dwarka,IN,22.2394,68.9678,81.50,74,0,11.16,clear sky
14,14,Busselton,AU,-33.6500,115.3333,64.74,52,99,12.35,overcast clouds
15,15,Ahuimanu,US,21.4447,-157.8378,80.31,69,75,17.27,broken clouds
17,17,East London,ZA,-33.0153,27.9116,62.74,75,100,13.02,light rain
20,20,Cidreira,BR,-30.1811,-50.2056,69.73,77,2,17.74,clear sky
21,21,Port Lincoln,AU,-34.7333,135.8667,64.04,80,99,4.81,overcast clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                404
City                   404
Country                403
Lat                    404
Lng                    404
Max Temp               404
Humidity               404
Cloudiness             404
Wind Speed             404
Current Description    404
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df.count()

City_ID                403
City                   403
Country                403
Lat                    403
Lng                    403
Max Temp               403
Humidity               403
Cloudiness             403
Wind Speed             403
Current Description    403
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kaili,ID,68.41,moderate rain,-3.4626,120.2147,
5,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
6,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,
9,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
11,Dwarka,IN,81.50,clear sky,22.2394,68.9678,
14,Busselton,AU,64.74,overcast clouds,-33.6500,115.3333,
15,Ahuimanu,US,80.31,broken clouds,21.4447,-157.8378,
17,East London,ZA,62.74,light rain,-33.0153,27.9116,
20,Cidreira,BR,69.73,clear sky,-30.1811,-50.2056,
21,Port Lincoln,AU,64.04,overcast clouds,-34.7333,135.8667,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
6,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Dwarka,IN,81.50,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
14,Busselton,AU,64.74,overcast clouds,-33.6500,115.3333,Observatory Guest House
15,Ahuimanu,US,80.31,broken clouds,21.4447,-157.8378,Paradise Bay Resort
17,East London,ZA,62.74,light rain,-33.0153,27.9116,Tu Casa
20,Cidreira,BR,69.73,clear sky,-30.1811,-50.2056,Hotel Castelo
21,Port Lincoln,AU,64.04,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
22,Cabo San Lucas,MX,82.06,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))